/* Container */
.banner {
  font-size: calc(16px + 1vw);

  position: relative;
  height: 50vh;
  width: 100vw;
  margin: 0;

  box-sizing: border-box;
  padding: 1rem;

  background-image: url(https://cdn.mos.cms.futurecdn.net/Yyqi7Z5skc5UnbUXBGrwac.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Heading text */
.bannerHeading {
  transform: translate(0, 3rem);
  color: white;
  font-size: 1em;
  font-weight: 300;
}
/* Description text */
.bannerText {
  transform: translate(0, 3rem);
  width: 80%;
  color: white;
  font-size: 0.8em;
  font-weight: 100;
}
.projectPicHolder {
  background-position: center center;
  transition: background-image 0.3s ease-in-out;
  height: 500px;
  display: block;
  position: relative;
  width: 100%;
  min-height: 80vh;
  overflow-x: hidden;
  background-size: cover;
  display: flex !important;
  text-align: center !important;
  background-image: url("/public/Image/SpaceX-1074353714.jpg");
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 0.5rem !important;
  align-self: center !important;
}
#textHolder {
  background-color: rgba(24, 28, 31, 0.8);
  color: white;
}
.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  padding: 15px;
  line-height: 1.2;
}
/* for Desktop */
@media screen and (min-width: 600px) {
  .banner {
    font-size: calc(25px + 1vw);
  }
  .bannerHeading {
    transform: translate(0, 12rem);
    font-size: 1em;
  }
  .bannerText {
    transform: translate(0, 12rem);
    width: 50%;
    font-size: 0.5em;
  }
}
